@page "/"

<PageTitle>Home</PageTitle>

<h1>Chess Tutor</h1>

<p>
  Piccoli esercizi per migliorare la conoscenza
  della scacchiera e dei pezzi, con l'obiettivo di
  aiutare i principianti a familiarizzare con il
  gioco degli scacchi.
</p>

<ul>
    <li><a href="square-color">Indovina il colore della casella</a></li>

</ul>

